.navbar {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;

  padding: 1vh;

  top: 10vh;
  right: 8vw;

  align-items: center;

  z-index: 7012002;
  mix-blend-mode: difference;
}

.navbar #toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  cursor: pointer;
  width: 5vh;
  height: 6.5vh;
  opacity: 1;
}

.navbar .icon {
  height: 3vh;
  width: 3vh;
  transition: all 0.5s ease;
}

.navbar .menu {
  opacity: 0;
  transform: translate(100%);
  transition: all 0.4s;
}

.navbar #toggle.active ~ .icon {
  transform: rotate(90deg);
}

.navbar #toggle.active ~ .menu {
  opacity: 1;
  transform: translate(0%);
}

.navbar a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vh;
  line-height: 2.5vh;

  text-decoration: none;

  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar li {
  margin-top: 0.4vh;
  margin-right: 1.9vh;
}

@media (orientation: portrait) {
  .navbar {
    flex-direction: column-reverse;
    position: fixed;
    padding: 0vh;
    top: 0vh;
    right: 0vw;
    align-items: center;
    z-index: 7012002;
    background-color: red;
  }
}
