.switcher {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 0vh;
  right: 7.9vw;

  align-items: center;

  z-index: 7012002;
  transform: translate(0%, -75%);
  transition: 0.4s;

  mix-blend-mode: difference;
  overflow: visible;
}

.switcher .line {
  height: 10vh;
  border: 1px solid white;
  background-color: white;
}

.switcher .dot {
  height: 1vh;
  border: 5px solid white;
  border-radius: 07012002px;
}

.switcher .clicker {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.switcher:hover {
  transform: translate(0%, -65%);
}

.move {
  transform: translate(0%, -40%) !important;
}

@media (orientation: portrait) {
  .switcher {
    right: 10.5vw;
    transform: translate(0%, -85%);
  }
  .move {
    transform: translate(0%, -60%) !important;
  }
  .switcher:hover {
    transform: translate(0%, -85%);
  }
}
